NEXT_PUBLIC_DEFAULT_NETWORK=ethereum
ETH_RPC_URL=
ARB_RPC_URL=
AVAX_RPC_URL=
SOL_RPC_URL=
NEXT_PUBLIC_ETH_RPC_URL=
NEXT_PUBLIC_ARB_RPC_URL=
NEXT_PUBLIC_AVAX_RPC_URL=
NEXT_PUBLIC_SOL_RPC_URL=
LIFI_INTEGRATOR=wallet2qr
LIFI_FEE_BPS=50
LIFI_FEE_RECEIVER=0x...
